.bo{
    bottom: 0;
    color: #fff;
    width: 100%;
    padding: .6rem;
    margin-top: calc(100% - 15em);
}
.in{
    border: 1px solid #ccc;
    height: 3rem;
}
.textTitle{
    color: #ffffff;
}
html{
    height: 100%;
}
body{
    background: url("../img/bk.jpg");
    height: 100%;
    color: #ffffff;
}