html, body{
    margin: 0;
}
h1,h2,h3,h4,h5{
    font-weight: 400;
}
.head{
    padding: 1rem .6rem;
    margin: 0;
    background-color: #0E90D2;
    color: #fff;
}
.head i{
    color: #fff;
}
.btnRound{
    border-radius: 4px;
}
.btnMain{
    background: #3366ff;
}